a:link {text-decoration: none; color: 00008b}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none; color: red}
html {font-family: Arial}
li {margin-bottom: 0.5em}
.authorName {color: 5b2503}
